# Virtual environment
env/

# Cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env

# VS code settings
.vscode/

# Excel temporary files
~$*.xlsx
~$*.xls

# AI files
.agents

# Azurite local storage
__azurite_db_*.json
__blobstorage__/
__queuestorage__/
azurite_db_*.json
blobstorage/
queuestorage/